<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pecolaattack0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,128},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,256},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,384},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,512},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,640},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,768},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,896},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,1024},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,1152},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,1280},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,1408},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,1536},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,1664},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,1792},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pecolaattack3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,1920},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pecolaattack.png</string>
            <key>size</key>
            <string>{64,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a22726c6c07eead1f1ed6c00a68b42eb:6fa96a2ba74cb0db6f296fdc34a6d70d:5b161b515a62994a37bc776b5c3d4802$</string>
            <key>textureFileName</key>
            <string>pecolaattack.png</string>
        </dict>
    </dict>
</plist>
